<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>The ARENA</title>
    <link rel="stylesheet" href="./stylesheets/assign2.css">
  </head>
  <body>
    <h2> CREATED FIGHTERS </h2>
    <div class="Peoples">
    <% rows.forEach(function(r) { %>
        <% if(r.age >= Math.max(r.size,r.height,r.skill)) { %>
          <button class = "people"; type="button"; style="background-color: grey";><h2><%= r.name %></h2></button>
        <% } else if (r.size >= Math.max(r.age,r.height,r.skill)) { %>
          <button class = "people"; type="button"; style="width:150px";><h2><%= r.name %></h2></button>
        <% } else if (r.height >= Math.max(r.size,r.age,r.skill)) { %>
          <button class = "people"; type="button"; style="height:150px; background-color: red";><h2><%= r.name %></h2></button>
        <% } else { %>
          <button class = "people"; type="button"; style="height:120px; width:120px; background-color:purple";><h2><%= r.name %></h2></button>
        <% } %>
        <div class = "peopleinfo";> Age: <%= r.age %> Size: <%= r.size %> Type: <%= r.type %> <br> Height: <%= r.height %>, Skill: <%= r.skill %> </div>
        <br>
    <% }); %>
    </div>

    <form class="" action="/fight" method="post">
      <input type="text" name="firstName" value="" placeholder="Fighter 1" maxlength="10" required> <br>
      <input type="text" name="secondName" value="" placeholder="Fighter 2" maxlength="10" required> <br>
      <input class="buttons" type="submit" name="Gladiator" value="Send them to fight">
    </form>
    <br>
    <a class="beegbutton" href="/Assignment2">GO BACK TO CUSTOMIZATION</a>
</body>
</html>
